ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    width: 200px;
    border: 2px solid black;
    border-radius: 50px;

}

li:hover {
    background-color: yellowgreen;
}

a{
    padding:10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}